#nome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
body {
    background-color: aqua;
}
.style-list {
    font-style: italic;
    line-height: 20px;
}
#imagem {
    text-align: center;
}